{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    <link rel="stylesheet" href="{% static 'styles/animation.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <title>Vibe</title>
</head>
<body>
    <header class="header"></header>
    <div class="main_content">
        <div class="container">
            <div class="main_content_inner">
                <div class="main_content_title show_right">
                    <h1>Войти в</h1>
                    <h2>Пожалуйста выберите 1 из 3 сайтов</h2>
                </div>
                <div class="main_content_sites">
                    <div class="main_content_site_wrapper show_left">
                        <a href="{% url 'vibe-dance' %}">
                            <div class="logo_wrapper">
                                <img src="{% static 'images/vibe_dance_new_logo.png' %}" alt="logo">
                            </div>
                            <div class="main_content_icon">
                                <div class="icon_wrapper">
                                    <img src="{% static 'images/main_page_icon.svg' %}" alt="icon">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="main_content_site_wrapper show_right">
                        <a href="{% url 'production' %}">
                            <div class="logo_wrapper">
                                <img src="{% static 'images/vibe_prod_new_logo.png' %}" alt="logo">
                            </div>
                            <div class="main_content_icon">
                                <div class="icon_wrapper">
                                    <img src="{% static 'images/main_page_icon.svg' %}" alt="icon">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="main_content_site_wrapper show_bottom">
                        <a href="{% url 'vibe-shop' %}">
                            <div class="logo_wrapper">
                                <img src="{% static 'images/vibe_shop_logo.png' %}" alt="logo">
                            </div>
                            <div class="main_content_icon">
                                <div class="icon_wrapper">
                                    <img src="{% static 'images/main_page_icon.svg' %}" alt="icon">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="footer_line"></div>
    </footer>
    <img src="{% static 'images/figure_main.svg' %}" alt="figure" class="figure_main first">
    <img src="{% static 'images/figure_main.svg' %}" alt="figure" class="figure_main twelve">
    <img src="{% static 'images/figure_main.svg' %}" alt="figure" class="figure_main third">
</body>
</html>

