{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    <link rel="stylesheet" href="{% static 'styles/animation.css' %}">
    <link rel="stylesheet" href="{% static 'styles/vibe_production.css' %}">
    <link href="//db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=Mazzard+H" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <title>Vibe Production</title>
</head>
<body>
    <header class="header" id="main">
        <div class="container">
            <div class="header_inner">
                <div class="header_logo">
                    <a href="#">
                        <img src="{% static 'images/vibe_prod_new_logo.png' %}" alt="logo">
                    </a>
                </div>
                <nav class="navbar">
                    <div class="navbar_item">
                        <a href="#">Главная</a>
                    </div>
                    <div class="navbar_item">
                        <a href="#services">Услуги</a>
                    </div>
                    <div class="navbar_item">
                        <a href="#projects">Наши проекты</a>
                    </div>
                    <div class="navbar_item">
                        <a href="#feedback">Обратная связь</a>
                    </div>
                </nav>
                <div class="header_icons">
                    <a href="https://wa.me/0505068696">
                        <img src="{% static 'images/wa_icon_red.svg' %}" alt="wa">
                    </a>
                    <a href="https://www.instagram.com/vibedancecomp/">
                        <img class="header_icons_insta" src="{% static 'images/insta_icon_prod.svg' %}" alt="insta">
                    </a>
                </div>
                <div class="menu">
                    <div class="menu_image_wrapper">
                        <img src="{% static 'images/menu_2.png' %}" alt="menu">
                    </div>
                </div>
            </div>
            <div class="navbar_hidden">
                <div class="container">
                    <div class="navbar_hidden_inner">
                        <div class="navbar_hidden_item">
                            <a href="#">Главная</a>
                        </div>
                        <div class="navbar_hidden_item">
                            <a href="#services">Услуги</a>
                        </div>
                        <div class="navbar_hidden_item">
                            <a href="#projects">Наши проекты</a>
                        </div>
                        <div class="navbar_hidden_item">
                            <a href="#feedback">Обратная связь</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="welcome_block" id="welcome_block">
        <div class="container">
            <div class="welcome_block_inner">
                <div class="welcome_block_text">
                    <h1>Amet minim mollit non deserunt ullamco est sit</h1>
                    <h2>Amet minim mollit non deserunt ullamco est sit</h2>
                    <div class="tap_wrapper">
                        <a href="#">TAP</a>
                    </div>
                </div>
                <div class="welcome_block_slider">
                    <div class="owl-carousel production_slider">
                        {% for slide in slides %}
                        <div class="welcome_block_slider_item">
                            <img src="{{ slide.image.url }}" alt="item">
                        </div>
                        {% endfor %}
                    </div>
                    <ul id='carousel-custom-dots' class='owl-dots'></ul>
                </div>
            </div>
        </div>
    </section>
    <section class="services" id="services">
        <div class="container">
                <h2>Услуги</h2>
                <div class="services_content">
                    <div class="services_content_text">
                        {% for service in services %}
                        <div class="services_content_text_item">
                            <p class="services_content_strip"></p>
                            <p>{{  service.text }}</p>
                        </div>
                        {% endfor %}
                        <div class="tap_wrapper">
                            <a href="#">TAP</a>
                        </div>
                    </div>
                    <div class="services_content_image">
                        <img src="{% if not services_image %}{% static 'images/services_image.png' %}{% else %} {{ services_image.image.url }}{% endif %}" alt="image">
                    </div>
                </div>
        </div>
    </section>
    <section class="partners" id="partners">
        <div class="container">
            <h2>Наши партнеры</h2>
            <div class="partners_inner">
                {% for partner in partners %}
                    <div class="partners_item">
                        <img src="{{ partner.image.url }}" alt="#">
                    </div>
                {% endfor %}
            </div>
            <div class="show_all">
                <img  class="show" src='{% static 'images/arrow-bottom.svg' %}' alt="arrow">
            </div>
        </div>
    </section>
    <section class="projects" id="projects">
        <div class="container">
            <h2>Наши проекты</h2>
            <div class="projects_inner">
                <div class="projects_item">
                    <img src="{% if not first_image %}{% static 'images/project_1.png' %}{% else %}{{ first_image.image.url }}{% endif %}" alt="image">
                </div>
                <div class="projects_item">
                    <img src="{% if not second_image %}{% static 'images/project_2.png' %}{% else %}{{ second_image.image.url }}{% endif %}" alt="image">
                </div>
                <div class="projects_item">
                    <img src="{% if not third_image %}{% static 'images/project_3.png' %}{% else %}{{ third_image.image.url }}{% endif %}" alt="image">
                </div>
                <div class="projects_item">
                    <img src="{% if not fourth_image %}{% static 'images/project_4.png' %}{% else %}{{ fourth_image.image.url }}{% endif %}" alt="image">
                </div>
                <div class="projects_item">
                    <img src="{% if not fifth_image %}{% static 'images/project_5.png' %}{% else %}{{ fifth_image.image.url }}{% endif %}" alt="image">
                </div>
            </div>
        </div>
    </section>
    <section class="feedback" id="feedback">
        <div class="container">
            <h2>Обратная связь</h2>
            <div class="feedback_inner">
                <div class="feedback_form_block">
                    <form action="" class="feedback_form" id="myForm">
                        <input
                                type="text"
                                placeholder="Имя"
                                id="field_name"
                        >
                        <small class="error_field_name"> * Это поле обязательное</small>
                        <input
                                type="text"
                                placeholder="Номер телефона"
                                id="field_numb"
                                value="+996"
                        >
                        <small class="error_field_numb"> * Неправильный формат данных - +996555444333</small>
                        <button id="submitButton">Отправить</button>
                    </form>
                    <div class="feedback_icons">
                        <a href="https://wa.me/0505068696">
                            <img src="{% static 'images/wa_icon_red.svg' %}" alt="wa">
                        </a>
                        <a href="https://www.instagram.com/vibedancecomp/">
                            <img src="{% static 'images/insta_icon_prod.svg' %}" alt="insta">
                        </a>
                    </div>
                </div>
                <div class="feedback_map">
                    <div id="map" style="width:100%; height:100%"></div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer_inner"></div>
        </div>
    </footer>

    <section class="figures">
        <img src="{% static 'images/figure_production.png' %}" class="triangle figure_first" alt="figure"/>
        <img src="{% static 'images/figure_production.png' %}" class="triangle figure_twelve" alt="figure"/>
        <img src="{% static 'images/figure_production.png' %}" class="triangle figure_three" alt="figure"/>
        <img src="{% static 'images/figure_production.png' %}" class="triangle figure_four" alt="figure"/>
        <img src="{% static 'images/figure_production.png' %}" class="triangle figure_five" alt="figure"/>
    </section>


    <section class="pulse_btn_wrapper">
        <a href="#" class="pulse-button_wa">
            <span class="pulse-button__icon_wa"></span>
            <span class="pulse-button__rings_wa"></span>
            <span class="pulse-button__rings_wa"></span>
            <span class="pulse-button__rings_wa"></span>
        </a>

        <a href="#" class="pulse-button_insta">
            <span class="pulse-button__icon_insta"></span>
            <span class="pulse-button__rings_insta"></span>
            <span class="pulse-button__rings_insta"></span>
            <span class="pulse-button__rings_insta"></span>
        </a>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script src="https://mapgl.2gis.com/api/js/v1"></script>
    <script></script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>

<!--
    TODO
    1.поработать с фигурами во всех сайтах
    2.добавить иконку инсты production
    3.заменить картинку в услугах production
    5.попробовать найти выплывающие блоки
-->
