{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    <link rel="stylesheet" href="{% static 'styles/animation.css' %}">
    <link href="//db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=Mazzard+H" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'styles/vibe_dance.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <title>Vibe Dance</title>
</head>
<body>
    <header class="header" id="main">
        <div class="container">
            <div class="header_inner">
                <div class="header_logo">
                    <a href="#">
                        <img src="{% static 'images/vibe_dance_new_logo.png' %}" alt="logo">
                    </a>
                </div>
                <nav class="navbar">
                    <div class="navbar_item">
                        <a href="#">Главная</a>
                    </div>
                    <div class="navbar_item">
                        <a href="#teachers">Наши преподаватели</a>
                    </div>
                    <div class="navbar_item">
                        <a href="#about">О нас</a>
                    </div>
                    <div class="navbar_item">
                        <a href="#contacts">Контакты</a>
                    </div>
                </nav>
                <div class="header_icons">
                    <a href="https://wa.me/0708700009">
                        <img src="{% static 'images/wa_icon.svg' %}" alt="wa">
                    </a>
                    <a href="https://www.instagram.com/vibedancecomp/">
                        <img class="header_icons_insta" src="{% static 'images/insta_icon.svg' %}" alt="insta">
                    </a>
                </div>
                <div class="menu">
                    <div class="menu_image_wrapper">
                        <img src="{% static 'images/menu.png' %}" alt="menu">
                    </div>
                </div>
            </div>
            <div class="navbar_hidden">
                <div class="container">
                    <div class="navbar_hidden_inner">
                        <div class="navbar_hidden_item">
                            <a href="#">Главная</a>
                        </div>
                        <div class="navbar_hidden_item">
                            <a href="#teachers">Наши преподаватели</a>
                        </div>
                        <div class="navbar_hidden_item">
                            <a href="#about">О нас</a>
                        </div>
                        <div class="navbar_hidden_item">
                            <a href="#contacts">Контакты</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="welcome_block" id="welcome_block">
        <div class="container">
            <div class="welcome_block_inner">
                <div class="welcome_block_text">
                    <h1><span class="main_color">Начни</span> танцевать уверенно под <span class="main_color">руководством опытных</span> преподавателей</h1>
                    <h2>Приходи на бесплатный пробный урок и впусти танец в свою жизнь</h2>
                    <div class="button_wrapper">
                        <a href="https://wa.me/0708700009">
                            Записаться
                        </a>
                        <div class="big_square"></div>
                        <div class="small_square"></div>
                    </div>
                </div>
                <div class="welcome_block_video">
                    <iframe
                            id="video"
                            width="100%"
                            src="{{ main_video.main_video }}"
                            title="Best dance video"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </section>
    <section class="sliders_block" id="news">
        <div class="owl-carousel loop">
            {% for slide in slides %}
            <div class="sliders_block_item">
                <img class="sliders_block_main_pic" src="{{ slide.image.url }}" alt="slider-item">
                <div class="sliders_block_item_title">
                    <p>{{ slide.title }}</p>
                </div>
                <div class="sliders_block_item_block"></div>
                <div class="sliders_block_item_text">
                    <div class="sliders_block_item_text_block_left">
                        <p>Новости</p>
                        <span>
                       {{ slide.text }}
                   </span>
                    </div>
                    <div class="sliders_block_item_text_block_right">
                        <a href="#">
                            <img src="{% static 'images/wa_icon.svg' %}" alt="wa">
                        </a>
                        <a href="#">
                            <img src="{% static 'images/wa_icon.svg' %}" alt="wa">
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <ul id='carousel-custom-dots' class='owl-dots'></ul>
    </section>
    <section class="about_block" id="about">
        <div class="container">
            <div class="about_block_inner">
                <div class="about_block_text">
                    <h2>О нас</h2>
                    <p class="about_block_first_text">Наш танцевальный центр <span class="main_color">VIBE DANCE</span> это современные курсы танцев</p>
                    <p class="about_block_last_text">Квалифицрированные, любящие свое дело, преподователи умеют зажечь огонь любви к <span>танцам</span> уже с первого занятия </p>
                    <div class="button_wrapper">
                        <a href="https://wa.me/0708700009">
                            Записаться
                        </a>
                        <div class="big_square"></div>
                        <div class="small_square"></div>
                    </div>
                </div>
                <div class="about_block_image">
                    <div class="about_block_image_wrapper">
                        <img class="rot" src="{% static 'images/dance_multi_photo.png' %}" alt="multi-image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="teachers_block" id="teachers">
        <div class="container">
            <h2>Наши преподаватели</h2>
            <div class="teachers_block_items">
                {% for teacher in teachers %}
                    <div class="teachers_block_item">
                        <div class="teachers_image_wrapper">
                            <img class="teachers_image" src="{{teacher.image.url}}" alt="#">
                            <div class="teachers_video">
                                <iframe
                                        width="100%"
                                        src="{{teacher.video_url}}"
                                        title="Best dance video"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                                </iframe>
                            </div>
                            <img class="teachers_image_icon" src="{% static 'images/play_icon.svg' %}" alt="play">
                        </div>
                        <p class="teachers_block_item_title">{{teacher.name}}</p>
                        <p class="teachers_block_item_description">{{teacher.text}}</p>
                    </div> 
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="contacts_block" id="contacts">
        <div class="container">
            <h2>Контакты</h2>
            <div class="contacts_block_inner">
                <div id="map" style="width:100%; height:100%"></div>
                <div class="contacts_text_block">
                    <div class="contacts_text_block_item">
                        <img src="{% static 'images/location_icon.svg' %}" alt="location">
                        <a href="#">г. Бишкек  ул. киевская 62. </a>
                    </div>
                    <div class="contacts_text_block_item">
                        <img src="{% static 'images/mail_icon.svg' %}" alt="mail">
                        <a href="mailto:tsadyrbaev@gmail.com">tsadyrbaev@gmail.com</a>
                    </div>
                    <div class="contacts_text_block_item">
                        <img src="{% static 'images/phone_icon.svg' %}" alt="phone">
                        <a href="tel:+996708700009">+996-708-700-009</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer_inner">
                <div class="footer_left">
                    <p>Курсы современного танца “VIBE DANCE”</p>
                </div>
                <div class="footer_right">
                    <a href="https://wa.me/0708700009">
                        <img src="{% static 'images/wa_icon.svg' %}" alt="wa">
                    </a>
                    <a href="https://www.instagram.com/vibedancecomp/">
                        <img src="{% static 'images/insta_icon.svg' %}" alt="insta">
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <section class="pulse_btn_wrapper">
        <a href="#" class="pulse-button_wa">
            <span class="pulse-button__icon_wa"></span>
            <span class="pulse-button__rings_wa"></span>
            <span class="pulse-button__rings_wa"></span>
            <span class="pulse-button__rings_wa"></span>
        </a>

        <a href="#" class="pulse-button_insta">
            <span class="pulse-button__icon_insta"></span>
            <span class="pulse-button__rings_insta"></span>
            <span class="pulse-button__rings_insta"></span>
            <span class="pulse-button__rings_insta"></span>
        </a>
    </section>

    <section class="figures">
        <img  src="{% static 'images/krug.png' %}" class="circle" />
        <img src="{% static 'images/kvadrat.png' %}" class="rectangle rectangle_first" />
        <img src="{% static 'images/kvadrat.png' %}" class="rectangle rectangle_twelve" />
        <img src="{% static 'images/treugolnik.png' %}" class="triangle triangle_first" />
        <img src="{% static 'images/treugolnik.png' %}" class="triangle triangle_twelve" />
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script>
        // настройки карусели vibe_dance
        $('.loop').owlCarousel({
        center: true,
        items:1.4,
        loop:true,
        margin:150,
        nav:true,
        dots: true,
        autoplay:true,
        autoplayTimeout:4000,
        autoplayHoverPause:true,
        autoplaySpeed: 1000,
        dotsContainer: '#carousel-custom-dots',
        navText: ["<img src='{% static 'images/arrow_left.png' %}'>","<img src='{% static 'images/arrow_right.png' %}'>"],
        responsive:{
            1200:{
                // items:1.4,
            },
            900:{
                margin:120,
                // items:1.4,
            },
            768:{
                margin:100,
                // items:1,
            },
            580:{
                nav:true,
                margin:50,
                // items:1,
            },
            0:{
                items:1,
                nav:false,
                margin:0,
            }
        }
    });</script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>

