{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    <link rel="stylesheet" href="{% static 'styles/animation.css' %}">
    <link href="//db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=Mazzard+H" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'styles/vibe_shop.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <title>Vibe Shop</title>
</head>
<body>
    <header class="header" id="main">
        <div class="container">
            <div class="header_inner">
                <div class="header_left">
                    <div class="header_logo">
                        <a href="#">
                            <img src="{% static 'images/vibe_shop_logo.png' %}" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="header_right">
                    <div class="header_btn">
                        <a href="#">Заказать</a>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <section class="banners">
        <div class="container">
            <div class="banners_slider">
                <div class="owl-carousel production_slider">
                    <div class="banners_item">
                        <img src="{% static 'images/vibe_shop_banner.png' %}" alt="item">
                        <p class="w">Новость 1</p>
                    </div>
                </div>
                <ul id='carousel-custom-dots' class='owl-dots'></ul>
            </div>
        </div>
    </section>
    <section class="products">
        <div class="container">
            <h2>Хиты продаж</h2>
            <div class="hit_products">
                <div class="product_item modalOpen">
                    <div class="product_item_inner">
                        <div class="product_image_wrapper">
                            <img src="{% static 'images/product_image.jpg' %}" alt="product">
                        </div>
                        <p>860 сом<span class="product_item_old_price">860 сом</span></p>
                        <a href="#">Текст</a>
                    </div>
                    <div class="modalOverlay">
                        <div class="modal">
                            <span class="modalClose">&times;</span>
                            <div class="owl-carousel modal_slider">
                                <div class="modal_item">
                                    <img src="{% static 'images/product_image.jpg' %}" alt="item">
                                </div>
                                <div class="modal_item">
                                    <img src="{% static 'images/vibe_shop_banner.png' %}" alt="item">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product_inner">
<!--                // тут начнется цикл-->
                <div class="product_item modalOpen">
                    <div class="product_item_inner">
                        <div class="product_image_wrapper">
                            <img src="{% static 'images/product_image.jpg' %}" alt="product">
                        </div>
                        <p>860 сом<span class="product_item_old_price">860 сом</span></p>
                        <a href="#">Текст</a>
                    </div>
                    <div class="modalOverlay">
                        <div class="modal">
                            <span class="modalClose">&times;</span>
                            <div class="owl-carousel modal_slider">
                                <div class="modal_item">
                                    <img src="{% static 'images/product_image.jpg' %}" alt="item">
                                </div>
                                <div class="modal_item">
                                    <img src="{% static 'images/vibe_shop_banner.png' %}" alt="item">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                //тут закончится-->
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <div class="footer_inner">
                <p>2022 © Vibe shop модный интернет магазин одежды и обуви.</p>
                <p>Все права защищены.</p>
            </div>
        </div>
    </section>

    <section class="pulse_btn_wrapper">
        <a href="#" class="pulse-button_wa">
            <span class="pulse-button__icon_wa"></span>
            <span class="pulse-button__rings_wa"></span>
            <span class="pulse-button__rings_wa"></span>
            <span class="pulse-button__rings_wa"></span>
        </a>

        <a href="#" class="pulse-button_insta">
            <span class="pulse-button__icon_insta"></span>
            <span class="pulse-button__rings_insta"></span>
            <span class="pulse-button__rings_insta"></span>
            <span class="pulse-button__rings_insta"></span>
        </a>
    </section>

    <section class="figures">
        <img src="{% static 'images/kvadrat.png' %}" class="rectangle rectangle_first" />
        <img src="{% static 'images/kvadrat.png' %}" class="rectangle rectangle_twelve" />
        <img src="{% static 'images/kvadrat.png' %}" class="rectangle rectangle_thirds" />
        <img src="{% static 'images/treugolnik.png' %}" class="triangle triangle_first" />
        <img src="{% static 'images/treugolnik.png' %}" class="triangle triangle_twelve" />
        <img src="{% static 'images/treugolnik.png' %}" class="triangle triangle_thirds" />
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
