@import url(//db.onlinewebfonts.com/c/eb5b5ee332420add9a40ee988cb6ac37?family=Mazzard+H);

html {
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #FFFFFF;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mazzard', sans-serif;
}
.container {
    width: 1200px;
    margin: 0 auto;
}

.menu{
    display: none;
}

@media (max-width: 1200px) {
    .container{
        width: 900px;
    }
}
@media (max-width: 900px) {
    .container{
        width: 768px;
    }
}
@media (max-width: 768px) {
    .container{
        width: 580px;
    }
    .menu{
        display: block;
    }
    .menu_image_wrapper{
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
    .menu img{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 580px) {
    .container{
        width: 100%;
        padding: 0 20px;
    }
}

a{
    text-decoration: none;
    cursor: pointer;
}

input{
    outline: none;
}

button{
    cursor: pointer;
}

img{
    margin: 0;
    padding: 0;
}

h1{
    padding: 0;
    margin: 0;
}
h2{
    padding: 0;
    margin: 0;
}
h3{
    padding: 0;
    margin: 0;
}
h4{
    padding: 0;
    margin: 0;
}
h5 {
    padding: 0;
    margin: 0;
}

p{
    padding: 0;
    margin: 0;
}
.leaflet-marker-icon{
    font-size: 50px;
}








/*===============================*/

.pulse-button_wa {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /*padding: 10px;*/
    border: none;
    /*background: #ff0000;*/
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 30px;
    right: 50px;
    cursor: pointer;
    outline: none;
    z-index: 99;
}

.pulse-button__icon_wa {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/wa_icons_original.png") center center/cover no-repeat;
    transition: .3s;
}

.pulse-button__rings_wa {
    border: 3px solid green;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    border-radius: 50%;
    animation-duration: 2.0s;
    animation-name: pulse_1;
    animation-iteration-count: infinite;
    z-index: -1;
}

.pulse-button__rings_wa:nth-child(2) {
    animation-name: pulse_2;
}

.pulse-button__rings_wa:nth-child(3) {
    animation-name: pulse_3;
}


.pulse-button_insta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 120px;
    right: 50px;
    cursor: pointer;
    outline: none;
    z-index: 99;
}

.pulse-button__icon_insta {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/insta_icon_original.png") center center/cover no-repeat;
    transition: .3s;
}


@media (max-width: 768px) {
    .pulse-button_wa {
        bottom: 30px;
        right: 25px;
    }
    .pulse-button_insta {
        bottom: 130px;
        right: 25px;
    }
}
@media (max-width: 600px) {

}



@keyframes pulse_1 {
    from {
        opacity: 1;
        transform: scale(0.9, 0.9);
    }

    to {
        opacity: 0;
        transform: scale(1.3, 1.3);
    }
}

@keyframes pulse_2 {
    from {
        opacity: 1;
        transform: scale(0.8, 0.8);
    }

    to {
        opacity: 0;
        transform: scale(1.5, 1.5);
    }
}

@keyframes pulse_3 {
    from {
        opacity: 1;
        transform: scale(0.8, 0.8);
    }

    to {
        opacity: 0;
        transform: scale(1.7, 1.7);
    }
}

/*====================*/
