body{
    background: #000000;
}
.header{
    background: #131313;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 50px;
}
.main_content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_content_inner{
    margin: 50px 0;
    padding: 50px 10px;
    background: #181818;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.main_content_title{
    text-align: center;
    position: relative;
}
.main_content_title h1{
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
    margin-bottom: 10px;
}
.main_content_title h2{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #A8A8A8;
}
.main_content_sites{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.main_content_site_wrapper{
    width: 32%;
    position: relative;
}
.main_content_site_wrapper:hover .logo_wrapper{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.61);
}
.main_content_site_wrapper:hover .icon_wrapper img {
    filter: invert(0);
}
.main_content_site_wrapper:hover .icon_wrapper {
    filter: drop-shadow(0px 0px 30px #FFFFFF);
}
.logo_wrapper{
    background: #000000;
    border-radius: 10px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_wrapper img{
    width: 200px;
    object-fit: contain;
}
.main_content_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.icon_wrapper{
    width: 70px;
    height: 70px;
    background: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_wrapper img {
    filter: invert(0.30);
    width: 30px;
    height: 30px;
}

.footer{
    background: #181818;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_line{
    height: 1px;
    background: #FFFFFF;
    width: 768px;
}
.show_left{
    animation: showLeft 1s;
    z-index: 1;
}
.show_right{
    animation: showRight 1s;
    z-index: 1;
}
.show_bottom{
    animation: showBottom 1s;
    z-index: 1;
}
@keyframes showLeft {
    from {
        left:-100%;
        opacity: 0;
    }

    to {
        left:0;
        opacity: 1;
    }

}

@keyframes showRight {
    from {
        right:-100%;
        opacity: 0;
    }
    to {
        right:0;
        opacity: 1;
    }
}
@keyframes showBottom {
    from {
        bottom:-100%;
        opacity: 0;
    }
    to {
        bottom:0;
        opacity: 1;
    }
}
.figure_main{
    position: absolute;
    width: 350px;
    height: 250px;
    z-index: -1;
    animation: 50s linear 0s normal none infinite running rectangle;
    -webkit-animation: 50s linear 0s normal none infinite running rectangle;
}
.first{
    top: 20px;
    left: -100px;
}
.twelve{
    top: 70px;
    right: -100px;
}
.third{
    bottom: -50px;
    left: 300px;
}


@media (max-width: 768px) {
    .main_content{
        height: 100%;
    }
    .main_content_sites{
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .main_content_site_wrapper{
        width: 100%;
    }
    .main_content_site_wrapper{
        margin-bottom: 50px;
    }
    .main_content_site_wrapper:last-child{
        margin-bottom: 0;
    }
    .logo_wrapper{
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo_wrapper img{
        width: 320px;
        object-fit: contain;
    }
    .footer{
        padding: 0 20px;
    }
    .footer_line{
        height: 1px;
        background: #FFFFFF;
        width: 100%;
    }
    .figure_main{
        display: none;
    }
}
@media (max-width: 580px) {
    .main_content_title h1{
        font-size: 25px;
        line-height: 30px;
    }
    .main_content_title h2{
        font-size: 15px;
        line-height: 18px;
    }
    .logo_wrapper{
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo_wrapper img{
        width: 200px;
        object-fit: contain;
    }
    .main_content_icon{
        display: none;
    }
}
