body{
    background: #000000;
    overflow-x: hidden;

}
.main_color{
    color: #FFD600;
}
.header{
    background: #000000;
    box-shadow: 0 4px 7px rgba(255, 255, 255, 0.25);
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    transition: .1s;
    z-index: 10;
}
.header_scroll{
    background: #000000;
    box-shadow: 0 4px 7px rgba(255, 255, 255, 0.25);
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    transition: .1s;
    z-index: 10;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    /*padding-top: 10px;*/
}

.header_logo_scroll img{
    width: 150px !important;
    transition: 1s;
    height: 80px;
    object-fit: cover;
    /*padding-left: 20px;*/
}
.header_logo img{
    width: 170px;
    height: 80px;
    object-fit: cover;
    transition: 1s;
}
.navbar{
    display: flex;
    /*margin-right: 150px;*/
}
.header_icons{
}
.navbar_item {
    padding-right: 50px;
}
.navbar_item:last-child{
    padding-right: 0;
}
.navbar_item a{
    color: #FFFFFF;
    padding-bottom: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    font-variant: small-caps;
}
.navbar_item a:hover{
    background: /* gradient can be an image */
            linear-gradient(
                    to top,
                    rgb(232,83,73) 0%,
                    rgb(132,39,9) 100%
            )
            left
            bottom
            no-repeat;
    padding-bottom: 5px;
    background-size:100% 3px ;/* if linear-gradient, we need to resize it */
}
.header_icons a{
    margin-right: 40px;
}
.header_icons a:last-child{
    margin-right: 0;
}

.navbar_hidden{
    position: absolute;
    top: 73px;
    left: 0;
    background: #ED6262;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    display: none;
}
.navbar_hidden_inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar_hidden_item{
    padding: 10px 0;
    border-bottom: 1px solid #FFFFFF;
    width: 220px;
    text-align: center;
}
.navbar_hidden_item a{
    color: #FFFFFF;
}

@media (max-width: 1200px) {
    .navbar{
        display: flex;
        margin-right: 50px;
    }
    .navbar_item a{
        color: #FFFFFF;
        padding-bottom: 5px;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 30px;
        font-variant: small-caps;
    }
    .header_logo img{
        width: 150px;
    }
}
@media (max-width: 900px) {
    .navbar{
        display: flex;
        margin-right: 0;
    }
    .navbar_item a{
        color: #FFFFFF;
        padding-bottom: 5px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        font-variant: small-caps;
    }
    .navbar_item {
        padding-right: 30px;
    }
    .header_logo img{
        width: 160px;
        height: 70px;
    }
    .header_icons a{
        margin-right: 20px;
    }
}
@media (max-width: 768px) {
    .navbar{
        display: none;
    }
    .header_icons{
        display: none;
    }

}
@media (max-width: 580px) {

}

/*========================================*/


.welcome_block{
    margin-top: 193px;
}
.welcome_block_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.welcome_block_text{
    width: 50%;
}
.welcome_block_text h1{
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.welcome_block_text h2{
    width: 70%;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #A7A7A7;
    margin-bottom: 30px;
}

.welcome_block_slider{
    width: 45%;
}
.welcome_block_slider_item{
    width: 100%;
    height: 300px;
    box-shadow: inset 7px 4px 15px rgba(80, 148, 210, 0.34);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}
.welcome_block_slider_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .welcome_block{
        margin-top: 170px;
    }
    .welcome_block_text h1{
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 25px;
    }
    .welcome_block_text h2{
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 25px;
    }
    .welcome_block_text a{
        margin-top: 12px;
        padding: 12px 80px;
        font-size: 20px;
    }
}
@media (max-width: 900px) {
    .welcome_block{
        margin-top: 140px;
    }
    .welcome_block_text h1{
        font-size: 25px;
        line-height: 50px;
        margin-bottom: 30px;
    }
    .welcome_block_text h2{
        font-weight: 400;
        font-size: 20px;
        line-height: 35px;
        margin-bottom: 35px;
    }
    .welcome_block_text a{
        margin-top: 12px;
        padding: 12px 80px;
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .welcome_block{
        margin-top: 150px;
    }
    .welcome_block_inner{
        flex-wrap: wrap;
    }
    .welcome_block_text{
        width: 100%;
        text-align: center;
    }
    .welcome_block_text h1{
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .welcome_block_text h2{
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 40px;
        width: 100%;
    }
    .welcome_block_text a{
        margin-top: 12px;
        padding: 12px 80px;
        font-size: 18px;
    }
    .welcome_block_slider{
        width: 100%;
        margin-top: 50px;
    }
    .welcome_block_slider_item{
        width: 100%;
        height: 250px;
    }
}
@media (max-width: 580px) {
    .welcome_block_text h1{
        font-size: 25px;
        line-height: 35px;
        padding-bottom: 20px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
    .welcome_block_text h2{
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.2em;
    }
    .welcome_block_slider_item{
        width: 100%;
        height: 170px;
    }
}

/*===================================*/

.services{
    margin-top: 150px;
}
.services h2{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
}
.services_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../images/services_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(28px);
    border-radius: 10px;
    padding: 30px;
}
.services_content_text{
    width: 50%;
}
.services_content_image{
    width: 50%;
}
.services_content_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.services_content_text_item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.services_content_text_item:last-child{
    padding-bottom: 0;
}
.services_content_text_item p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}
.services_content_strip{
    width: 62px;
    height: 3px;
    background: #959595;
    border-radius: 10px;
    margin-right: 27px;
}
.tap_wrapper{
    margin-top: 50px;
}
.tap_wrapper a{
    background: linear-gradient(90deg, #E85349 0%, #842709 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 4px 6px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 12px 80px;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1200px) {
    .services h2{
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 25px;
    }
    .services_content_text_item p{
        font-size: 20px;
        line-height: 25px;
    }
    .services_content_strip{
        width: 52px;
        height: 3px;
        background: #959595;
        border-radius: 10px;
        margin-right: 27px;
    }
    .services_content_image{
        width: 40%;
    }
    .tap_wrapper{
        margin-top: 40px;
    }
    .tap_wrapper a{
        font-size: 20px;
    }
}
@media (max-width: 900px) {
    .services{
        margin-top: 130px;
    }
}
@media (max-width: 768px) {
    .services h2{
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .services_content_text{
        width: 100%;
    }
    .services_content_image{
        display: none;
    }
    .services_content_text_item p{
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 580px) {
    .services_content{
        padding: 25px;
    }
    .services_content .tap_wrapper{
        padding-bottom: 20px;
    }
    .services{
        margin-top: 40px;
    }
    .services h2{
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 40px;
    }
    .services_content_text{
        width: 100%;
    }
    .services_content_image{
        display: none;
    }
    .services_content_text_item p{
        font-size: 15px;
        line-height: 18px;
    }
    .services_content_text_item{
        margin-bottom: 15px;
    }
    .tap_wrapper{
        margin-top: 40px;
    }
    .tap_wrapper a{
        padding: 12px 60px;
        font-weight: 600;
        font-size: 16px;
    }
    .services_content_strip{
        width: 32px;
        height: 3px;
        margin-right: 20px;
    }
}

/*============================*/
.partners{
    margin-top: 50px;
}
.partners h2{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.partners_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 43px;
    flex-wrap: wrap;
}
.partners_item{
    background: linear-gradient(180deg, #D04242 0%, #7c0303 100%);
    border-radius: 20px;
    padding: 32px;
    width: 24%;
    margin-bottom: 15px;
    z-index: 1;
}
.partners_item img{
    width: 100%;
    height: 150px;
    object-fit: contain;
}
.partners_item_hidden{
    display:none;
}
.show_all{
    width: 100%;
    height: 107px;
    border-radius: 20px;
    margin-top: -40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(72, 0, 0, 0) 0%, #C23C3C 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.show_all img{
    padding-top: 20px;
    cursor: pointer;
}
.show{
    cursor: pointer;
}
.show_active{
    transform: rotate(180deg) !important;
    padding-top: 0 !important;
}
@media (max-width: 1200px) {
    .partners_item{
        padding: 38px;
        margin-bottom: 15px;
    }
}
@media (max-width: 900px) {

}
@media (max-width: 768px) {
    .partners{
        margin-top: 40px;
    }
    .partners_item{
        padding: 28px;
        width: 31%;
        margin-bottom: 15px;
        z-index: 1;
    }
    .partners_inner {
        margin-top: 40px;
    }
    .partners_item img{
        width: 100%;
        height: 120px;
        object-fit: contain;
    }
    .show_all{
        width: 100%;
        height: 80px;
        margin-top: -30px;
        /*z-index: 10;*/
    }
    .partners h2{
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 20px;
    }
    .show_all img{
        width: 50px;
    }
}
@media (max-width: 580px) {
    .partners_item{
        padding: 5px;
        margin-bottom: 10px;
    }
}

/*======================================*/
.projects{
    margin-top: 50px;
}
.projects h2{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.projects_inner{
    margin-top: 50px;
    display: grid;
    grid-gap: 25px;
    grid: 327px auto / 1fr 1fr 1fr ;
}
.projects_item:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
    height: 100%;
}
.projects_item:nth-child(2) {
    grid-area: 1 / 2 / 2 / 4;
    height: 327px;
}
.projects_item:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
    height: 300px;
}
.projects_item:nth-child(3) img{
    object-fit: contain !important;
}
.projects_item:nth-child(4) {
    grid-area: 2 / 3 / 4 / 4;
    height: 100%;
}
.projects_item:nth-child(5) {
    grid-area: 3 / 3 / 3 / 1;
}
.projects_item{
    width: 100%;
    height: 300px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.projects_item img:hover{
    filter: drop-shadow(0px 10px 20px #ED6262);
}
.projects_item img{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 1200px) {

}
@media (max-width: 900px) {
    .projects_item{
        width: 100%;
        height: 250px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
    .projects_item:nth-child(1) {
        grid-area: 1 / 1 / 3 / 2;
        height: 100%;
    }
    .projects_item:nth-child(2) {
        grid-area: 1 / 2 / 2 / 4;
        height: 320px;
    }
    .projects_item:nth-child(3) {
        grid-area: 2 / 2 / 3 / 3;
        height: 250px;
    }
    .projects_item:nth-child(3) img{
        object-fit: contain !important;
    }
    .projects_item:nth-child(4) {
        grid-area: 2 / 3 / 4 / 4;
        height: 100%;
    }
    .projects_item:nth-child(5) {
        grid-area: 3 / 3 / 3 / 1;
    }
}
@media (max-width: 768px) {
    .projects_inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .projects_item{
        width: 100%;
        height: 250px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 30px;
    }
    .projects_item:nth-child(1) {
        height: 250px;
    }
    .projects_item:nth-child(2) {
        height: 250px;
    }
    .projects_item:nth-child(3) {
        height: 250px;
    }
    .projects_item:nth-child(3) img{
        object-fit: contain !important;
    }
    .projects_item:nth-child(4) {
        height: 250px;
    }
    .projects_item:nth-child(5) {
        height: 250px;
        margin-bottom: 0 !important;
    }
}
@media (max-width: 580px) {
    .projects h2{
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 20px;
    }
    .projects_item{
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }
    .projects_item:nth-child(1) {
        height: 200px;
    }
    .projects_item:nth-child(2) {
        height: 200px;
    }
    .projects_item:nth-child(3) {
        height: 200px;
    }
    .projects_item:nth-child(3) img{
        object-fit: contain !important;
    }
    .projects_item:nth-child(4) {
        height: 200px;
    }
    .projects_item:nth-child(5) {
        height: 200px;
        margin-bottom: 0 !important;
    }
}

/*===================================*/
.feedback{
    margin-top: 50px;
}
.feedback h2{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.feedback_inner{
    margin-top: 50px;
    border: 2px solid #FA4C4C;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 16px 50px;
}
.feedback_form_block{
    width: 30%;
    position: relative;
}
.feedback_map{
    width: 60%;
    position: relative;
    height: 350px;
}
#map{
    border-radius: 10px;
}
.feedback_form{
    padding-left: 44px;
    border-left: 1px solid #ED6262;
    filter: none;
}
.feedback_form input{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    background: black;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-variant: small-caps;
    color: #CCCCCC;
    margin-bottom: 26px;
    filter: none;

}
.feedback_form button{
    background: linear-gradient(90deg, #E85349 0%, #842709 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 4px 6px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 5px 30px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 29px;
    font-variant: small-caps;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    filter: none;
}
.feedback_icons{
    display: flex;
    margin-top: 35px;
    padding-left: 44px;
}
.feedback_icons img{
    width: 40px;
    height: 40px;
    margin-right: 30px;
}
.feedback_icons:last-child{
    margin-right: 71px;
}
.error_field_name{
    display: none;
    margin-bottom: 10px;
    margin-top: -15px;
    color:  #E85349;
}
.error_field_numb{
    display: none;
    margin-bottom: 10px;
    margin-top: -15px;
    color:  #E85349;
}

@media (max-width: 1200px) {

}
@media (max-width: 900px) {

}
@media (max-width: 768px) {
    .feedback_inner{
        display: flex;
        align-items: center;
        padding: 16px 16px 16px 16px;
        flex-wrap: wrap;
    }
    .feedback_form_block{
        width: 100%;
        margin: 20px 0;
    }
    .feedback_form{
        padding-left: 30px;
        margin-left: 50px;
        border-left: 1px solid #ED6262;
        filter: none;
    }
    .feedback_form input{
        border: 2px solid #FFFFFF;
        width: 100%;
        box-sizing: border-box;
        padding: 15px;
        font-size: 15px;
        line-height: 10px;
        margin-bottom: 25px;
        filter: none;

    }
    .feedback_form button{
        padding: 10px 30px;
        border: none;
        font-weight: 600;
        font-size: 15px;
    }
    .feedback_icons{
        display: flex;
        flex-direction: column;
        top: 0;
        position: absolute;
        margin-top: 0;
        padding-left: 0;
    }
    .feedback_icons img{
        width: 35px;
        height: 35px;
        margin-right: 0;
    }
    .feedback_icons:last-child{
        margin-right: 0;
    }
    .feedback_icons img:first-child{
        margin: 25px 0;
    }
    .feedback_map{
        width: 100%;
        position: relative;
        height: 250px;
        margin-top: 30px;
    }
    .feedback h2{
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 20px;
    }
}
@media (max-width: 580px) {

}

/*=========================================*/
.footer{
    margin-top: 50px;
    background: #000000;
    box-shadow: -4px -5px 9px rgba(255, 255, 255, 0.25);
    padding: 40px 0;
}
.footer_inner{
    height: 3px;
    background: #FFFFFF;
    border-radius: 10px;
}
@media (max-width: 1200px) {

}
@media (max-width: 900px) {

}
@media (max-width: 768px) {

}
@media (max-width: 580px) {
    .footer{
        margin-top: 40px;
        padding: 40px 0;
    }
}


/*===========================================*/

.owl-dots{
    /*background: red;*/
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.owl-dot{
    width: 100%;
    height: 7px;
    background: #767676;
    border: none;
    margin-right: 25px;
    background: rgba(106, 106, 106, 0.69);
    border-radius: 3px;
}
.owl-dot:last-child{
    margin-right: 0;
}
button.owl-dot.active{
    box-shadow: 0 4px 4px rgba(167, 0, 0, 0.31);
    background: linear-gradient(180deg, #EF0000 0%, #740000 100%);
}

.owl-nav{
    /*font-size: 10px;*/
}
.owl-prev img{
    position: absolute;
    top: 400px;
    left: 155px;
    z-index: 1;
    width: 30px;
}
.owl-next img{
    position: absolute;
    top: 400px;
    right: 150px;
    z-index: 1;
    width: 30px;
}
@media(max-width: 768px){
    .owl-dots{
        /*background: red;*/
        margin-top: 10px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .owl-next img{
        position: absolute;
        top: 320px;
    }
    .owl-prev img{
        top: 320px;
        left: 155px;
    }
}
@media(max-width: 768px){
    .owl-dots{
        margin-top: 20px;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .owl-dot{
        height: 4px;
        margin-right: 15px;
    }
}


/*======================*/

.triangle{
    position: absolute;
}
.figure_first{
    top: 200px;
    z-index: -1;
    left: -280px;
    width: 318px;
}
.figure_twelve{
    top: 100px;
    z-index: -1;
    right: -400px;
    width: 450px;
}
.figure_three{
    top: 1500px;
    z-index: -1;
    right: -250px;
    width: 350px;
}
.figure_four{
    top: 900px;
    z-index: -1;
    left: -250px;
    width: 318px;
}
.figure_five{
    top: 1800px;
    z-index: -1;
    left: -300px;
    width: 370px;
}
@media(max-width: 768px){
    .figure_first{
        top: 150px;
        z-index: -1;
        left: -220px;
        width: 250px;
    }
    .figure_twelve{
        top: 200px;
        z-index: -1;
        right: -250px;
        width: 300px;
    }
    .figure_three{
        top: 1500px;
        z-index: -1;
        right: -200px;
        width: 250px;
    }
    .figure_four{
        top: 900px;
        z-index: -1;
        left: -250px;
        width: 300px;
    }
    .figure_five{
        top: 2000px;
        z-index: -1;
        left: -300px;
        width: 350px;
    }
}
@media (max-width: 580px) {
    .figures {
        display: none;
    }
}
