body{
    background: #000000;
    overflow-x: hidden;
}
.main_color{
    color: #FFD600;
}

/*============================================*/

.header{
    background: rgba(28, 28, 28, 0.3);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 15px 0 25px;
    position: fixed;
    top: 0;
    width: 100%;
    transition: .1s;
}
.header_scroll{
    position: fixed;
    padding: 0 0 10px 0 ;
    background: #000000;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: .1s;
    width: 100%;
    z-index: 5;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    padding-top: 10px;
    transition: 1s;
}
.header_logo img{
    width: 150px;
    transition: 1s;
}
.header_logo_scroll img{
    width: 120px !important;
    transition: 1s;
    /*padding-left: 20px;*/
}
.navbar{
    display: flex;
}
.header_icons{
}
.navbar_item {
    padding-right: 50px;
}
.navbar_item:last-child{
    padding-right: 0;
}
.navbar_item a{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar_item a:hover{
    color: #FFD600;
}
.header_icons a{
    margin-right: 40px;
}
.header_icons a:last-child{
    margin-right: 0;
}

.navbar_hidden{
    position: absolute;
    top: 120px;
    left: 0;
    background: rgba(197, 170, 48, 0.9);
    width: 100%;
    text-align: center;
    padding: 20px 0;
    display: none;
}
.navbar_hidden_inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar_hidden_item{
    padding: 10px 0;
    border-bottom: 1px solid #FFFFFF;
    width: 220px;
    text-align: center;
}
.navbar_hidden_item a{
    color: #FFFFFF;
}

@media (max-width: 1200px) {

}
@media (max-width: 900px) {
    .header{
        padding: 26px 0 36px;
    }
    .navbar_item {
        padding-right: 30px;
    }
    .navbar_item a{
        font-size: 16px;
        line-height: 20px;
    }
    .header_icons a{
        margin-right: 20px;
    }
    .header_logo{
        padding-top: 10px;
    }
    .header_logo img{
        width: 130px;
    }
}
@media (max-width: 768px) {
    .navbar{
        display: none;
    }
    .header_icons{
        display: none;
    }

}
@media (max-width: 580px) {
    .header{
        padding: 20px 0;
    }
    .header_scroll{
        padding: 15px 0 ;
    }
    .header_icons a{
        margin-right: 15px;
    }
    .header_icons_insta{
        margin-right: 0;
    }
    .header_logo{
        padding-top: 0;
    }
    .header_logo img{
        width: 100px;
    }
    .menu_image_wrapper{
        width: 30px;
        height: 30px;
    }
    .navbar_hidden {
        position: absolute;
        top: 80px;
    }
}

/*========================================*/

.welcome_block{
    padding: 67px 0 120px;
    margin-top: 130px;
}
.welcome_block_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.welcome_block_text{
    width: 50%;
}
.welcome_block_text h1{
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: 0.2em;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 35px;
}
.welcome_block_text h2{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.1em;
    color: #CBCBCB;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 45px;
}
.button_wrapper{
    position: relative;
}
.big_square{
    position: absolute;
    border: 2px solid #E8C300;
    box-sizing: border-box;
    box-shadow: 0 4px 14px 1px rgba(255, 255, 255, 0.39);
    width: 53px;
    height: 53px;
    left: 180px;
    top: 35px;
}
.small_square{
    position: absolute;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    width: 35px;
    height: 35px;
    left: 220px;
    top: 75px;
}
.welcome_block_text a{
    color: #FFD600;
    padding: 17px 20px;
    border: 2px solid #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.1em;
    text-shadow: 3px 4px 10px rgba(194, 163, 0, 0.85);
}
.welcome_block_text a:hover{
    text-shadow: 3px 4px 20px rgba(255, 215, 0, 1);
}

.welcome_block_video{
    width: 40%;
}
.welcome_block_video iframe{
    width: 100%;
    height: 521px;
    filter: drop-shadow(2px 10px 19px #615A36);
}

@media (max-width: 1200px) {

}
@media (max-width: 900px) {
    .welcome_block{
        margin-top: 80px;
    }
    .welcome_block_text h1{
        font-size: 25px;
        line-height: 50px;
        padding-bottom: 30px;
    }
    .welcome_block_text h2{
        font-weight: 400;
        font-size: 20px;
        line-height: 35px;
        padding-bottom: 35px;
    }
    .welcome_block_text a{
        padding: 15px 18px;
        font-size: 20px;
        line-height: 35px;
    }
    .big_square{
        width: 50px;
        height: 50px;
        left: 150px;
        top: 30px;
    }
    .small_square{
        width: 30px;
        height: 30px;
        left: 185px;
        top: 65px;
    }
}
@media (max-width: 768px) {
    .welcome_block{
        padding: 50px 0 90px;
        margin-top: 80px;
    }
    .welcome_block_inner{
        flex-wrap: wrap;
    }
    .welcome_block_text{
        width: 100%;
    }
    .welcome_block_video{
        width: 100%;
        padding-top: 100px;
    }
    .welcome_block_video iframe{
        width: 100%;
        height: 320px;
        filter: drop-shadow(2px 10px 19px #615A36);
    }
}
@media (max-width: 580px) {
    .welcome_block{
        padding: 80px 0 70px;
        margin-top: 50px;
        text-align: center;
    }
    .welcome_block_text h1{
        font-size: 25px;
        line-height: 35px;
        padding-bottom: 20px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
    .welcome_block_text h2{
        font-weight: 400;
        font-size: 20px;
        line-height: 25px;
        padding-bottom: 50px;
        letter-spacing: 0.2em;
    }
    .welcome_block_text a{
        padding: 15px 18px;
        font-size: 20px;
        line-height: 15px;
    }
    .big_square{
       display: none;
    }
    .small_square{
        display: none;
    }
    .welcome_block_video{
        width: 100%;
        padding-top: 100px;
    }
    .welcome_block_video iframe{
        width: 100%;
        height: 200px;
        filter: drop-shadow(2px 10px 19px #615A36);
    }
}

/*===================================================*/

.sliders_block{
    position: relative;
}
.sliders_block_item{
    position: relative;
}
.sliders_block_main_pic{
    width: 100%;
    height: 700px !important;
}
.sliders_block_item img{
    width: 100%;
    height: 100%;
}
.sliders_block_item_title{
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 50px;
}
.sliders_block_item_title p{
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: 0.2em;
    color: #FFD600;
    text-shadow: 0 4px 4px rgba(188, 188, 188, 0.56);
    border-bottom: 2px solid #FFD600;
    display: inline;
}
.sliders_block_item_block{
    position: absolute;
    z-index: 1;
    background: rgba(255, 255, 255, 0.03);
    filter: blur(10px);
    backdrop-filter: blur(60px);
    border-radius: 10px;
    top: 50px;
    right: 56px;
    width: 420px;
    height: 230px;
}
.sliders_block_item_text{
    position: absolute;
    z-index: 2;
    padding: 27px 19px 27px 52px;
    width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 50px;
    right: 56px;
}

.sliders_block_item_text_block_left p{
    z-index: 2;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #FFD600;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    width: 270px;
}
.sliders_block_item_text_block_left span{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    display: block;
    width: 270px;
}
.sliders_block_item_text_block_right{
    display: flex;
    flex-direction: column;
    border-left: 2px solid #FFFFFF;
    padding: 20px 0 20px 14px;
}
.sliders_block_item_text_block_right a{
     margin-bottom: 32px;
 }
.sliders_block_item_text_block_right a:last-child{
    margin-bottom: 0;
}
.figures{
    overflow-x: hidden;
}
@media(max-width: 1440px){
    .sliders_block_main_pic{
        width: 100%;
        height: 424px !important;
    }
}
@media (max-width: 1200px) {
    .sliders_block_item_block{
        top: 40px;
        right: 46px;
        width: 400px;
        height: 200px;
    }
    .sliders_block_item_title{
        position: absolute;
        z-index: 1;
        top: 40px;
        left: 40px;
    }
    .sliders_block_item_title p{
        font-size: 40px;
        line-height: 35px;
    }
    .sliders_block_item_text{
        position: absolute;
        z-index: 2;
        padding: 10px 10px 10px 40px;
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 50px;
        right: 56px;
    }
    .sliders_block_item_text_block_left p{
        font-size: 23px;
        line-height: 20px;
        margin-bottom: 15px;
        width: 250px;
    }
    .sliders_block_item_text_block_left span{
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        width: 250px;
    }
    .sliders_block_item_text_block_right{
        padding: 20px 0 20px 14px;
    }
    .sliders_block_item_text_block_right a{
        margin-bottom: 32px;
    }
    .sliders_block_item_text_block_right a:last-child{
        margin-bottom: 0;
    }
    .sliders_block_main_pic{
        width: 100%;
        height: 300px !important;
    }
}
@media (max-width: 900px) {
    .sliders_block_item_block{
        top: 20px;
        right: 20px;
        width: 350px;
        height: 180px;
    }
    .sliders_block_item_title{
        position: absolute;
        z-index: 1;
        top: 20px;
        left: 20px;
    }
    .sliders_block_item_title p{
        font-size: 30px;
        line-height: 30px;
    }
    .sliders_block_item_text{
        position: absolute;
        z-index: 2;
        padding: 10px 10px 10px 20px;
        width: 350px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 30px;
        right: 20px;
    }
    .sliders_block_item_text_block_left p{
        font-size: 19px;
        line-height: 20px;
        margin-bottom: 15px;
        width: 250px;
    }
    .sliders_block_item_text_block_left span{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        width: 250px;
    }
    .sliders_block_item_text_block_right{
        padding: 20px 0 20px 14px;
    }
    .sliders_block_item_text_block_right a{
        margin-bottom: 25px;
    }
    .sliders_block_item_text_block_right a:last-child{
        margin-bottom: 0;
    }
    .sliders_block_main_pic{
        width: 100%;
        height: 250px !important;
    }
}
@media (max-width: 768px) {
    .sliders_block_main_pic{
        width: 100%;
        height: 250px !important;
    }
    .sliders_block_item_text{
        flex-wrap: wrap;
    }
    .sliders_block_item_text_block_left{
        width: 100%;
    }
    .sliders_block_item_text_block_left{
        padding-bottom: 10px;
    }
    .sliders_block_item_text_block_right{
        width: 100%;
        flex-direction: row;
        border-left: none;
        border-top: 2px solid #FFFFFF;
        padding: 10px 0 ;
        /*justify-content: center;*/
    }
    .sliders_block_item_text_block_right a{
        margin-right : 20px;
    }
    .sliders_block_item_text_block_right img{
        width: 25px;
        height: 25px;
    }
    .sliders_block_item_block{
        top: 15px;
        right: 15px;
        width: 200px;
        height: 220px;
    }
    .sliders_block_item_title{
        position: absolute;
        z-index: 1;
        top: 15px;
        left: 15px;
    }
    .sliders_block_item_title p{
        font-size: 25px;
        line-height: 25px;
    }
    .sliders_block_item_text{
        position: absolute;
        z-index: 2;
        padding: 10px;
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 20px;
        right: 10px;
    }
    .sliders_block_item_text_block_left p{
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 10px;
        width: calc(100% - 10px);
    }
    .sliders_block_item_text_block_left span{
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 18px;
        width: calc(100% - 10px);
    }
}
@media (max-width: 580px) {
    .sliders_block_main_pic{
        width: 100%;
        height: 200px !important;
    }
    .sliders_block_item_block{
        top: 10px;
        right: 10px;
        width: 200px;
        height: 180px;
    }
    .sliders_block_item_title{
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 10px;
    }
    .sliders_block_item_title p{
        font-size: 20px;
        line-height: 20px;
    }
    .sliders_block_item_text{
        position: absolute;
        z-index: 2;
        padding: 10px;
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 10px;
        right: 10px;
    }
    .sliders_block_item_text_block_left p{
        font-size: 15px;
        line-height: 15px;
        margin-bottom: 10px;
        width: calc(100% - 10px);
    }
    .sliders_block_item_text_block_left span{
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        width: calc(100% - 10px);
    }
    .sliders_block_item_text_block_right img{
        width: 20px;
        height: 20px;
    }
    .sliders_block{
        padding: 0 20px;
    }
}
/*=======================================*/

.about_block{
    padding: 115px 0 84px;
}
.about_block_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about_block_text{
    width: 45%;
}
.about_block_image{
    width: 50%;
}
.about_block_text h2{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.13em;
    color: #FFFFFF;
    text-shadow: 9px 4px 10px rgba(255, 255, 255, 0.25);
    padding-bottom: 50px;
}
.about_block_text p{
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.1em;
    color: #CBCBCB;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.about_block_first_text{
    padding-bottom: 24px;
}
.about_block_last_text{
    padding-bottom: 35px;
}
.about_block_text a{
    color: #FFD600;
    padding: 17px 20px;
    border: 2px solid #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.1em;
    text-shadow: 3px 4px 10px rgba(194, 163, 0, 0.85);
}
.about_block_text a:hover{
    text-shadow: 3px 4px 20px rgba(255, 215, 0, 1);
}
.about_block_image_wrapper img{
    width: 100%;
    height: auto;

}
@media (max-width: 1200px) {

}
@media (max-width: 900px) {
    .about_block{
        padding: 80px 0 60px;
    }
    .about_block_inner{

    }
    .about_block_text{
        width: 45%;
    }
    .about_block_image{
        width: 50%;
    }
    .about_block_text h2{
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 25px;
        padding-bottom: 30px;
    }
    .about_block_text p{
        font-size: 17px;
        line-height: 30px;
    }
    .about_block_first_text{
        padding-bottom: 18px;
    }
    .about_block_last_text{
        padding-bottom: 30px;
    }
    .about_block_text a{
        padding: 15px 18px;
        font-size: 20px;
        line-height: 35px;
    }
    .about_block_text a:hover{
        text-shadow: 3px 4px 20px rgba(255, 215, 0, 1);
    }
    .about_block_image_wrapper img{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 768px) {

}
@media (max-width: 580px) {
    .about_block{
        padding: 50px 0 0;
    }
    .about_block_inner{
        display: flex;
        /*justify-content: center;*/
        /*align-items: center;*/
    }
    .about_block_text{
        /*text-align: center;*/
        width: 100% ;
    }
    .about_block_image{
        display: none;
    }
    .about_block_text a{
        padding: 15px 18px;
        font-size: 15px;
        line-height: 15px;
    }
    .about_block_text h2{
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 20px;
    }
    .about_block_text p{
        font-size: 15px;
        line-height: 25px;
    }
    .about_block_first_text{
        padding-bottom: 10px;
    }
    .about_block_last_text{
        padding-bottom: 30px;
    }
    .about_block_text a{
        padding: 15px 18px;
        font-size: 15px;
        line-height: 35px;
    }
}
/*=======================================*/

.teachers_block{

}
.teachers_block h2{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.13em;
    color: #FFFFFF;
    text-shadow: 9px 4px 10px rgba(255, 255, 255, 0.25);
}
.teachers_block_items{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.teachers_block_item{
    width: 30%;
    padding: 20px 29px;
    margin-bottom: 20px;
    /*cursor: pointer;*/
    text-align: center;
    background: linear-gradient(180deg, rgba(27, 27, 27, 0) 29.48%, #1B1B1B 100%);
    box-shadow: inset -1px 8px 7px rgba(0, 0, 0, 0.25);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.teachers_block_item:hover{
    filter: drop-shadow(0px 15px 15px  rgba(255, 214, 0, 0.61));
   background: #1b1b1b;
}

.teachers_image_wrapper{
    position: relative;
    box-shadow: 0 4px 4px 1px rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    margin-bottom: 58px;
}
.teachers_video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.teachers_block_item.active iframe{
    display: block;
}
.teachers_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.teachers_image_icon{
    width: 37px;
    height: 37px;
    position: absolute;
    top: 20px;
    right: 16px;
    cursor: pointer;
    z-index: 0;
}
.teachers_block_item_title{
    display: inline;
    padding-bottom: 20px;
    border-bottom: 2px solid #FFC807;
    /*box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.25);*/
    box-shadow: 0 10px 10px -10px rgba(255, 255, 255, 0.25);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.teachers_block_item_description{
    padding: 50px 0 55px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
@media (max-width: 1200px) {
    .teachers_block{
        margin-top: 50px;
    }
    .teachers_block_item{
        width: 45%;
        margin-bottom: 30px;
    }
}
@media (max-width: 900px) {
    .teachers_block h2{
        font-size: 25px;
        line-height: 35px;
    }
    .teachers_block_items{
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .teachers_block_item{
        width: 45%;
        padding: 20px 25px;
        margin-bottom: 30px;
    }

    .teachers_image_wrapper{
        position: relative;
        margin-bottom: 35px;
    }

    .teachers_image_icon{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .teachers_block_item_title{
        display: inline;
        padding-bottom: 20px;
        border-bottom: 2px solid #FFC807;
        box-shadow: 0 10px 10px -10px rgba(255, 255, 255, 0.25);
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }

    .teachers_block_item_description{
        padding: 40px 0 30px;
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 768px) {
    .teachers_block h2{
        font-size: 25px;
        line-height: 25px;
    }
    .teachers_block_items{
        margin-top: 30px;
        display: flex;
    }
    .teachers_block_item{
        width: 45%;
        padding: 15px 15px;
        margin-bottom: 25px;
    }

    .teachers_image_wrapper{
        position: relative;
        margin-bottom: 30px;
    }

    .teachers_image_icon{
        width: 25px;
        height: 25px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .teachers_block_item_title{
        display: inline;
        padding-bottom: 20px;
        border-bottom: 2px solid #FFC807;
        box-shadow: 0 10px 10px -10px rgba(255, 255, 255, 0.25);
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }

    .teachers_block_item_description{
        padding: 40px 0 30px;
        font-size: 16px;
        line-height: 18px;
    }
}
@media (max-width: 580px) {
    .teachers_block h2{
        font-size: 18px;
        line-height: 20px;
    }
    .teachers_block_items{
        margin-top: 20px;
        display: flex;
    }
    .teachers_block_item{
        /*width: 100%;*/
        padding: 0;
        margin-bottom: 30px;
    }
    .teachers_block_item:hover{
        filter: none;
        background: #1b1b1b;
    }
    .teachers_image_wrapper{
        position: relative;
        margin-bottom: 30px;
    }

    .teachers_image_icon{
        width: 25px;
        height: 25px;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .teachers_block_item_title{
        display: inline;
        padding-bottom: 20px;
        border-bottom: 2px solid #FFC807;
        box-shadow: 0 10px 10px -10px rgba(255, 255, 255, 0.25);
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }

    .teachers_block_item_description{
        padding: 40px 10px 40px;
        font-size: 12px;
        line-height: 14px;
    }
}
/*============================*/

.contacts_block{
    padding: 50px 0  108px;
}
.contacts_block h2{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.13em;
    color: #FFFFFF;
    text-shadow: 9px 4px 10px rgba(255, 255, 255, 0.25);
    margin-bottom: 50px;
}
.contacts_block_inner{
    height: 470px;
    position: relative;
}
.contacts_text_block{
    position: absolute;
    top: 53px;
    left: 91px;
    background: rgba(0, 0, 0, 0.48);
    backdrop-filter: blur(60px);
    border-radius: 20px;
    padding: 60px 104px;
}
.contacts_text_block_item{
    display: flex;
    align-items: center;
    margin-bottom: 51px;
}
.contacts_text_block_item:last-child{
    margin-bottom: 0;
}
.contacts_text_block_item img{
    margin-right: 31px;
}
.contacts_text_block_item a{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF
}
@media (max-width: 1200px) {
    .contacts_text_block{
        top: 40px;
        left: 50px;
        background: rgba(0, 0, 0, 0.48);
        backdrop-filter: blur(60px);
        padding: 40px 50px;
    }
    .contacts_text_block_item{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
}
@media (max-width: 900px) {
    .contacts_text_block{
        top: 30px;
        left: 30px;
        background: rgba(0, 0, 0, 0.48);
        backdrop-filter: blur(60px);
        padding: 30px 30px;
    }
    .contacts_text_block_item{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    .contacts_text_block_item img{
        width: 30px;
        height: 30px;
    }
    .contacts_block h2{
        font-size: 25px;
        line-height: 25px;
    }
}
@media (max-width: 768px) {
    .contacts_block{
        padding: 30px 0  70px;
    }
    .contacts_block h2{
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .contacts_block_inner{
        height: 300px;
        position: relative;
    }
    .contacts_text_block{
        position: absolute;
        top: 20px;
        left: 30px;
        background: rgba(0, 0, 0, 0.48);
        backdrop-filter: blur(60px);
        border-radius: 20px;
        padding: 30px;
    }
    .contacts_text_block_item{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .contacts_text_block_item img{
        width: 25px;
        height: 25px;
    }
    .contacts_text_block_item img{
        margin-right: 20px;
    }
    .contacts_text_block_item a{
        font-size: 15px;
        line-height: 20px;
    }
}
@media (max-width: 580px) {
    .contacts_block{
        padding: 20px 0  40px;
    }
    .contacts_block h2{
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .contacts_block_inner{
        height: 250px;
        position: relative;
    }
    .contacts_text_block{
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 15px;
        border-radius: 10px;
    }
    .contacts_text_block_item{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }
    .contacts_text_block_item img{
        width: 20px;
        height: 20px;
    }
    .contacts_text_block_item img{
        margin-right: 10px;
    }
    .contacts_text_block_item a{
        font-size: 13px;
        line-height: 15px;
    }
}
/*=============================*/

.footer{
    padding: 20px 0 38px;
    background: rgba(16, 16, 16, 0.45);
    box-shadow: 0 -5px 13px rgba(84, 84, 84, 0.45);
}

.footer_inner{
    padding-top: 20px;
    border-top: 2px solid #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_left p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.footer_right{
    display: flex;
    align-items: center;
}
.footer_right a{
    margin-right: 21px;
}
.footer_right a:last-child{
    margin-right: 0;
}
@media (max-width: 900px) {

}
@media (max-width: 768px) {
    .footer{
        padding: 10px 0 18px;
    }
    .footer_inner{
        padding-top: 15px;
    }
    .footer_left p{
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
    }
    .footer_right img{
        width: 25px;
        height: 25px;
    }
}

/*============================*/

.owl-dots{
    /*background: red;*/
    text-align: center;
}
.owl-dot{
    width: 15px;
    height: 15px;
    background: #767676;
    border-radius: 50%;
    border: none;
    margin-right: 25px;
}
.owl-dot:last-child{
    margin-right: 0;
}
button.owl-dot.active{
    background: #FFD600;
}

.owl-nav{
    font-size: 50px;
}
.owl-prev{
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 1;
}
.owl-next{
    position: absolute;
    top: 50%;
    right: 10%;
    z-index: 1;
}
.owl-item{
    /*margin: 0 100px;*/
}

@media (max-width: 580px) {
    .owl-dot{
        width: 10px;
        height: 10px;
        margin-right: 15px;
    }
}

/*==================*/


.triangle{
    position: absolute;
    width: 340px;
}
.triangle_first{
    top: 2100px;
    z-index: -1;
    left: -200px;
}
.triangle_twelve{
    top: 2600px;
    z-index: -1;
    right: -200px;
}
.rectangle{
    position: absolute;
    width: 340px;
}
.rectangle_first{
    top: 2050px;
    z-index: -1;
    right: -150px;
}
.rectangle_twelve{
    top: 2700px;
    z-index: -1;
    left: -150px;
}

.circle {
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 5s infinite;
    position: absolute;
    top: 600px;
    z-index: -1;
    left: -20px;
}
@media (max-width: 580px) {
    .figures{
        display: none;
    }
    .triangle{
        width: 200px;
    }
    .rectangle{
        width: 250px;
    }
    .triangle_first{
        top: 1450px;
        z-index: -1;
        left: -100px;
    }
    .triangle_twelve{
        top: 2050px;
        z-index: -1;
        right: -100px;
    }
    .rectangle_first{
        top: 1450px;
        z-index: -1;
        right: -100px;
    }
    .rectangle_twelve{
        top: 2000px;
        z-index: -1;
        left: -100px;
    }
}


