body{
    background: #000000;
    overflow-x: hidden;
}
.main_color{
    color: #FFD600;
}

.header{
    background: #000000;
    box-shadow: 0 4px 15px #FFC700;
    padding: 9px 0;
    position: fixed;
    top: 0;
    width: 100%;
    transition: .1s;
}
.header_scroll{
    position: fixed;
    padding: 9px 0;
    background: #000000;
    box-shadow: 0 4px 15px #FFC700;
    transition: .1s;
    width: 100%;
    z-index: 5;
}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_left{
    display: flex;
    align-items: center;
}
.header_logo{
    margin-right: 44px;
}
.header_logo img{
    width: 130px;
    height: auto;
    transition: 1s;
}
.header_logo_scroll img{
    width: 90px !important;
    transition: 1s;
}
.header_search input{
    padding: 13px 17px 13px 50px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    width: 370px;
    background-image: url("../images/search_icon.svg");
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    color: #1B1B1B;
}
.header_right{

}
.header_btn{
    padding: 13px 60px 13px 20px;
    background-color: #FFC700;
    box-shadow: 0 0 4px #FFC700;
    border-radius: 10px;
    background-image: url("../images/vibe_shop_wa.svg");
    background-position: 110px center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
.header_btn a{
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1200px) {

}
@media (max-width: 900px) {
    .header_logo{
    }
    .header_logo img{
        width: 120px;
        height: auto;
    }
}
@media (max-width: 768px) {
    .header_logo{
        margin-right: 0;
    }
    .header_logo img{
        width: 100px;
    }
    .header_left{
        width: 100%;
        justify-content: space-between;
    }
    .header_right{
        display: none;
    }
    .header_search input{
        padding: 10px 10px 10px 50px;
        background-color: #FFFFFF;
        width: 100%;
    }
}
@media (max-width: 580px) {
    .header_logo img{
        width: 90px;
        height: auto;
    }
}



/*===================================*/

.banners{
    margin-top: 180px;
    position: relative;
}
.banners_item{
    position: relative;
    border-radius: 5px;
}
.banners_item img{
    width: 100%;
    height: 460px;
    object-fit: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.banners_item p{
    position: absolute;
    bottom: 21px;
    left: 50%;
    background: linear-gradient(180deg, #FFC700 0%, #FFC700 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*text-fill-color: transparent;*/
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateX(-50%);
    font-style: normal;
    font-weight: 900 !important;
    font-size: 75px;
    line-height: 90px;
    text-align: center;
    font-variant: small-caps;
    color: #FFC700FF;
    width: 100%;
}

@media (max-width: 1200px) {
    .banners_item img {
        width: 100%;
        height: 400px;
    }
}
@media (max-width: 900px) {
    .banners_item img {
        width: 100%;
        height: 350px;
    }
    .banners_item p{
        bottom: 17px;
        font-size: 70px;
        line-height: 90px;
    }
}
@media (max-width: 768px) {
    .banners{
        margin-top: 140px;
        position: relative;
    }
    .banners_item img {
        width: 100%;
        height: 300px;
    }
    .banners_item p{
        bottom: 17px;
        font-size: 50px;
        line-height: 70px;
    }
}
@media (max-width: 580px) {
    .banners_item img {
        width: 100%;
        height: 200px;
    }
    .banners_item p{
        bottom: 20px;
        font-size: 30px;
        line-height: 100%;
    }
}


/*===========================================*/
/*TODO поменял тут*/
.products{
    margin-top: 50px;
}
.products h2{
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
}
.hit_products{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}
.hit_products .product_item{
    width: 49%;
    height: 100%;
    margin-bottom: 50px;
    cursor: pointer;
}
.hit_products .product_image_wrapper{
    overflow: hidden;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    height: 500px;
}
.product_inner{
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    flex-wrap: wrap;
}
.product_inner .product_item{
    width: 30%;
    height: 100%;
    margin-bottom: 50px;
    cursor: pointer;
}
.product_inner .product_image_wrapper{
    overflow: hidden;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    height: 300px;
}
.product_image_wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    border-radius: 5px;
}
.product_image_wrapper img:hover{
    transform: scale(1.1)
}
/*.product_item:nth-child(5n-0){*/
/*    width: 30%;*/
/*}*/
/*.product_item:nth-child(5n-1){*/
/*    width: 30%;*/
/*}*/
/*.product_item:nth-child(5n-2){*/
/*    width: 30%;*/
/*}*/
.product_item p{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    font-variant: small-caps;
    color: #FFFFFF;
    margin-top: 30px;
}
.product_item_old_price{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-decoration: line-through;
    font-variant: small-caps;
    color: #888888;
    margin-left: 20px;
}
.product_item a{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    text-decoration-line: underline;
    font-variant: small-caps;
    color: #FFC700;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}


@media (max-width: 1200px) {
    .product_image_wrapper{
        overflow: hidden;
        display: inline-block;
        border-radius: 5px;
        width: 100%;
        height: 450px;
    }
    .product_item p{
        font-size: 30px;
        line-height: 100%;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .product_item_old_price{
        font-size: 25px;
        line-height: 100%;
        margin-left: 20px;
    }
    .product_item a{
        font-style: normal;
        font-weight: 500;
        font-size: 23px;
        line-height: 100%;
    }
}
@media (max-width: 900px) {
    .product_image_wrapper{
        overflow: hidden;
        display: inline-block;
        border-radius: 5px;
        width: 100%;
        height: 300px;
    }
    .product_item p{
        font-size: 25px;
        line-height: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .product_item_old_price{
        font-size: 20px;
        line-height: 100%;
        margin-left: 20px;
    }
    .product_item a{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
    }
}
@media (max-width: 768px) {
    .products{
        margin-top: 30px;
    }
    .products h2{
        font-weight: 800;
        font-size: 30px;
        line-height: 40px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 30px;
    }
    .product_image_wrapper{
        overflow: hidden;
        display: inline-block;
        border-radius: 5px;
        width: 100%;
        height: 250px;
    }
    .product_item p{
        font-size: 20px;
        line-height: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .product_item_old_price{
        font-size: 17px;
        line-height: 100%;
        margin-left: 20px;
    }
    .product_item a{
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 100%;
    }
    .product_item{
        width: 48%;
        height: 100%;
        margin-bottom: 20px;
    }
    .product_item:nth-child(5n-0){
        width: 48%;
    }
    .product_item:nth-child(5n-1){
        width: 48%;
    }
    .product_item:nth-child(5n-2){
        width: 48%;
    }
}
@media (max-width: 580px) {
    .products h2{
        font-weight: 800;
        font-size: 20px;
        line-height: 40px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 30px;
    }
    .product_image_wrapper{
        width: 100%;
        height: 200px;
    }
    .product_item p{
        font-size: 18px;
        line-height: 100%;
        margin-top: 10px;
        margin-bottom:5px;
    }
    .product_item_old_price{
        font-size: 15px;
        line-height: 100%;
        margin-left: 20px;
    }
    .product_item a{
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 100%;
    }
}
@media (max-width: 400px) {
    .product_image_wrapper{
        width: 100%;
        height: 180px;
    }
}


/*===============================*/

.footer{
    background: #000000;
    box-shadow: 0 -6px 15px #FFC700;
    padding: 20px;
    margin-top: 30px;
}
.footer_inner{
    text-align: center;
}
.footer_inner p{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    font-variant: small-caps;
    color: #FFFFFF;
    margin-bottom: 13px;
}
.footer_inner:last-child{
    margin-bottom: 0;
}

@media (max-width: 1200px) {

}
@media (max-width: 900px) {

}
@media (max-width: 768px) {
    .footer{
        padding: 12px;
    }
    .footer_inner p{
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        font-variant: small-caps;
        color: #FFFFFF;
        margin-bottom: 10px;
    }
}
@media (max-width: 580px) {
    .footer_inner p{
        font-style: normal;
        font-weight: 300;
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        font-variant: small-caps;
        color: #FFFFFF;
        margin-bottom: 8px;
    }
}


/*================================*/


.owl-dots{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.owl-dot{
    width: 20px;
    height: 20px;
    background: #767676;
    border: none;
    margin-right: 17px;
    background: rgba(106, 106, 106, 0.69);
    border-radius: 50%;
}
.owl-dot:last-child{
    margin-right: 0;
}
button.owl-dot.active{
    background: #FFC700;
}
.owl-prev{
}
.owl-prev img{
    position: absolute;
    border-radius: 50%;
    padding: 15px 25px;
    top: 40%;
    left: 26px;
    z-index: 1;
    width: 80px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
}
.owl-next img{
    position: absolute;
    border-radius: 50%;
    padding: 15px 25px;
    top: 40%;
    right: 26px;
    z-index: 1;
    width: 80px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
}

@media (max-width: 1200px) {

}
@media (max-width: 900px) {
    .owl-prev img{
        position: absolute;
        border-radius: 50%;
        padding: 10px 15px;
        top: 40%;
        left: 26px;
        z-index: 1;
        width: 50px;
        background: rgba(255, 255, 255, 0.12);
        backdrop-filter: blur(10px);
    }
    .owl-next img{
        position: absolute;
        border-radius: 50%;
        padding: 10px 15px;
        top: 40%;
        right: 26px;
        z-index: 1;
        width: 50px;
        background: rgba(255, 255, 255, 0.12);
        backdrop-filter: blur(10px);
    }
}
@media (max-width: 768px) {
    .owl-dot{
        width: 15px;
        height: 15px;
        margin-right: 15px;
    }
}
@media (max-width: 580px) {
    .owl-dot{
        width: 12px;
        height: 12px;
        margin-right: 15px;
        margin-top: 10px;
    }
}





/*======================*/

.triangle{
    position: absolute;
    width: 340px;
}
.triangle_first{
    top: 2100px;
    z-index: -1;
    left: -200px;
}
.triangle_twelve{
    top: 2600px;
    z-index: -1;
    right: -200px;
}
.triangle_thirds{
    top: 800px;
    z-index: -1;
    right: -150px;
}
.rectangle{
    position: absolute;
    width: 340px;
}
.rectangle_first{
    top: 2050px;
    z-index: -1;
    right: -150px;
}
.rectangle_twelve{
    top: 2700px;
    z-index: -1;
    left: -150px;
}
.rectangle_thirds{
    top: 1000px;
    z-index: -1;
    left: -150px;
}

.circle {
    -webkit-animation: pulsing 2s infinite;
    animation: pulsing 5s infinite;
    position: absolute;
    top: 600px;
    z-index: -1;
    left: -20px;
}
@media (max-width: 900px) {
    .triangle{
        width: 200px;
    }
    .rectangle{
        width: 250px;
    }
    .triangle_first{
        top: 1250px;
        z-index: -1;
        left: -100px;
    }
    .triangle_twelve{
        top: 1550px;
        z-index: -1;
        right: -100px;
    }
    .triangle_thirds{
        top: 2000px;
        z-index: -1;
        right: -100px;
    }
    .rectangle_first{
        top: 700px;
        z-index: -1;
        right: -100px;
    }
    .rectangle_twelve{
        top: 700px;
        z-index: -1;
        left: -100px;
    }
    .rectangle_thirds{
        top: 2000px;
        z-index: -1;
        left: -150px;
    }
}
@media (max-width: 580px) {
    .figures{
        display: none;
    }
}





/*=============================*/
.modalOverlay{
    display:none;
    position:fixed;
    justify-content: space-between;
    align-items: center;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.8);
    z-index: 100;
}
.modal{
    display: none;
}
.modal_active{
    position:relative;
    top: 25%;
    left: 25%;
    background:#fff;
    width: 50%;
    height: 400px;
    color: black;
    border-radius: 10px;
}
.modal span.modalClose{
    cursor:pointer;
    font-size:40px;
    position:absolute;
    right:20px;
    top:5px;
    color: black;
    z-index: 50;
}
.modal_item{
    position: relative;
    border-radius: 5px;
}
.modal_item img{
    width: 100% !important;
    height: 400px;
    object-fit: contain;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}
.modal_slider .owl-prev img{
    position: absolute;
    border-radius: 50%;
    padding: 10px 16px;
    top: 40%;
    left: -100px;
    z-index: 1;
    width: 50px;
    background: rgba(0, 0, 0, 0.7) !important;
    backdrop-filter: blur(10px);
}
.modal_slider .owl-next img{
    position: absolute;
    border-radius: 50%;
    padding: 10px 16px;
    top: 40%;
    right: -100px;
    z-index: 1;
    width: 50px;
    background: rgba(0, 0, 0, 0.7) !important;
    backdrop-filter: blur(10px);
}
@media (max-width: 768px) {
    .modal{
        position:relative;
        top: 25%;
        left: 15%;
        background:#fff;
        width: 70%;
        height: 600px;
        color: black;
        border-radius: 10px;
    }
    .modal_item img{
        width: 100%;
        height: 600px;
        object-fit: contain;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 10px;
    }
}
@media (max-width: 580px) {
    .modal span.modalClose{
        cursor:pointer;
        font-size:40px;
        position:absolute;
        right:10px;
        top:5px;
        color: black;
        z-index: 50;
    }
    .modal{
        position:relative;
        top: 25%;
        left: 5%;
        background:#fff;
        width: 90%;
        height: 450px;
        color: black;
        border-radius: 10px;
    }
    .modal_item img{
        width: 100%;
        height: 450px;
        object-fit: contain;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 10px;
    }
    .modal_slider .owl-prev img{
        display: none;
    }
    .modal_slider .owl-next img{
        display: none;
    }

    .modal_slider .owl-dots{
        z-index: 1000;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 30px;
        left: 55%;
        transform: translateX(-50%);
    }
    .modal_slider button.owl-dot{
        width: 15px;
        height: 15px;
        border: none;
        margin-right: 17px;
        background: rgba(106, 106, 106, 0.69) !important;
        border-radius: 50%;
    }
    .modal_slider button.owl-dot.active{
        background: #FFC700 !important;
    }
}
